DisponibilizadorDadosRotaLogAgilus/Service References/RotaLog/WebServiceRota.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://jointecnologia.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://jointecnologia.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://jointecnologia.com/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="IncluiColeta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sLogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sSenha" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cliCPF" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cliRG" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cliNome" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="cliDataNascimento" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="cliSexo" type="s1:char" />
            <s:element minOccurs="0" maxOccurs="1" name="cliTelefone1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cliTelefone2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cliTelefone3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cliEndereco" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cliComplemento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cliBairro" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cliCidade" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cliUF" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cliCEP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cliPontoReferencia" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="colDataAgendamento" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="colTurnoAgendamento" type="s1:char" />
            <s:element minOccurs="1" maxOccurs="1" name="colQuantFolhas" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="colCodTipoDocumento" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="colNumeroAdesao" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IncluiColetaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IncluiColetaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaFasesColeta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sLogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sSenha" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CodigoColeta" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaFasesColetaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultaFasesColetaResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaCaminhoDocumentos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sLogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sSenha" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CodigoColeta" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaCaminhoDocumentosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultaCaminhoDocumentosResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadArquivo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sLogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sSenha" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CodigoColeta" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sDescricaoArquivo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sNomeOriginalArquivo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Arquivo" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadArquivoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadArquivoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="char">
        <s:restriction base="s:unsignedShort" />
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="IncluiColetaSoapIn">
    <wsdl:part name="parameters" element="tns:IncluiColeta" />
  </wsdl:message>
  <wsdl:message name="IncluiColetaSoapOut">
    <wsdl:part name="parameters" element="tns:IncluiColetaResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultaFasesColetaSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultaFasesColeta" />
  </wsdl:message>
  <wsdl:message name="ConsultaFasesColetaSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaFasesColetaResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultaCaminhoDocumentosSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultaCaminhoDocumentos" />
  </wsdl:message>
  <wsdl:message name="ConsultaCaminhoDocumentosSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaCaminhoDocumentosResponse" />
  </wsdl:message>
  <wsdl:message name="UploadArquivoSoapIn">
    <wsdl:part name="parameters" element="tns:UploadArquivo" />
  </wsdl:message>
  <wsdl:message name="UploadArquivoSoapOut">
    <wsdl:part name="parameters" element="tns:UploadArquivoResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceRotaSoap">
    <wsdl:operation name="IncluiColeta">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Inclui coleta no sistema</wsdl:documentation>
      <wsdl:input message="tns:IncluiColetaSoapIn" />
      <wsdl:output message="tns:IncluiColetaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaFasesColeta">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Consulta histórico de fases da coleta</wsdl:documentation>
      <wsdl:input message="tns:ConsultaFasesColetaSoapIn" />
      <wsdl:output message="tns:ConsultaFasesColetaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaCaminhoDocumentos">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Consulta caminhos de download de documentos</wsdl:documentation>
      <wsdl:input message="tns:ConsultaCaminhoDocumentosSoapIn" />
      <wsdl:output message="tns:ConsultaCaminhoDocumentosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadArquivo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Faz upload de arquivo para a coleta</wsdl:documentation>
      <wsdl:input message="tns:UploadArquivoSoapIn" />
      <wsdl:output message="tns:UploadArquivoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceRotaSoap" type="tns:WebServiceRotaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IncluiColeta">
      <soap:operation soapAction="http://jointecnologia.com/IncluiColeta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaFasesColeta">
      <soap:operation soapAction="http://jointecnologia.com/ConsultaFasesColeta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaCaminhoDocumentos">
      <soap:operation soapAction="http://jointecnologia.com/ConsultaCaminhoDocumentos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadArquivo">
      <soap:operation soapAction="http://jointecnologia.com/UploadArquivo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceRotaSoap12" type="tns:WebServiceRotaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IncluiColeta">
      <soap12:operation soapAction="http://jointecnologia.com/IncluiColeta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaFasesColeta">
      <soap12:operation soapAction="http://jointecnologia.com/ConsultaFasesColeta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaCaminhoDocumentos">
      <soap12:operation soapAction="http://jointecnologia.com/ConsultaCaminhoDocumentos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadArquivo">
      <soap12:operation soapAction="http://jointecnologia.com/UploadArquivo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceRota">
    <wsdl:port name="WebServiceRotaSoap" binding="tns:WebServiceRotaSoap">
      <soap:address location="http://177.153.4.163/SistemaRotaLog/WebServiceRota.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceRotaSoap12" binding="tns:WebServiceRotaSoap12">
      <soap12:address location="http://177.153.4.163/SistemaRotaLog/WebServiceRota.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>